.login{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(0deg, rgba(4, 85, 183, 0.364) 10%, rgba(204, 219, 232, 0.633) 60%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer{
    height: 600px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginHeading{
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 40px;
}

.input{
    margin-top: 15px !important;
}

.createAccount{
    margin-top: 60px;
    color: rgb(169, 169, 169);
    font-size: 0.8rem;
}

.signup{
    color: rgb(0, 136, 255);
    cursor: pointer;
}

.signup:hover{
    color: rgb(0, 109, 205);
}

.input:first-child{
    margin-top: 40px !important;
}

.input:last-child{
    margin-top: 40px !important;
}

.realEstate{
    font-weight: 500;
    font-size: 0.9rem;
    margin-top: 105px;
}

.tagline{
    font-size: 0.8rem;
    color: rgb(169, 169, 169);
    text-align: center;
}

.helperText{
    height: 15px;
    width: 100%;
    font-size: 10px;
    color: red;
}

@media screen and (max-width: 440px) {
    .loginContainer{
        width: 90%;
    }
}